@font-face{
  font-family: "magic";
  src: url('/public/fonts/HARRYP__.TTF');
} 
@font-face {
  font-family: 'lobster';
  src: url('/public/fonts/Lobster-Regular.ttf');
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}
.body{

}
.textMagic{
  font-family: "magic";
}
.blason{
  max-width: 30px;
  max-height: 30px;
  object-fit:contain;
}
.imageNone{
  background-color: transparent;
}

/*btn*/
.btn-gryffondor{
  background: #570406; 
}
.btn-serpentard{
  background: #3b5300; 
}
.btn-serdaigle{
  background: #035b76; 
}

.btn-poufsouffle{
  background: #d09a00; 
}
/*color*/
.color-gryffondor{
  color: #570406; 
}
.color-serpentard{
  color: #3b5300; 
}
.color-serdaigle{
  color: #035b76; 
}

.color-poufsouffle{
  color: #d09a00; 
}


/****/

.headContent{
  width: 100%;
  min-height: 60vh;
  background: rgba(0, 0, 0, 0.651) url(/public/images/fond.jpg) center center no-repeat ;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 1px 1px 20px 5px rgba(77, 77, 77, 0.418);
  margin:0  !important;
  margin-bottom: 1rem;
}

/*CARD*/
.cards-trans{
  /* transform: translateY(-100px); */
  box-shadow: 1px 1px 10px 3px  rgba(231, 231, 231, 0.514) !important;
  background:rgba(128, 128, 128, 0.479) !important;
  border-radius: 50px !important;
  overflow: hidden;
  position: relative;
}
.cards-trans{
  user-select: none !important;
}
.cards-trans a {
  width: 100% !important;
  position: relative;
  font-family: "lobster";
  font-size: 1.5rem;
  box-shadow: 1px 1px 3px 1px rgb(14, 13, 13) !important;
}
.cards-trans a::after {
  content: "";
  position: absolute;
  width: 0% !important;
  height: 100%;
  left:0;
  top:0;
}
.cards-trans a::after a:{
  width: 100% !important;
  background:green;
}

/**title**/

h1,h2{
  font-family: "lobster";
}

/**Music**/
.music{
  position: fixed;
  bottom:0;
  z-index: 10;
  width: 100%;
 

}
.music audio{
  background:black !important;
  border:none;
  border-radius: 0;
}
.musicImg img{
 width: 50px;
 object-fit: contain;
}